@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {    
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(20deg,#152069,#377a98);
    background-repeat: no-repeat; 
}
section{
    margin-top:6.25rem;
    background: linear-gradient(45deg,#152069,#377a98);
    padding:0.938rem;
    max-width:35rem;
    height: 28rem;
    border: 1px solid black;
    margin-left: auto;
    margin-right:auto;
    display: block;
    border-radius:5px;
    box-shadow:5px 5px 50px 8px rgba(0,0,0,0.59)
}
section h1{
    color: white;
    display: block;
    text-align: center;
    padding: 0.7rem;
    margin: 0.1rem;
    display: block;
}  
header{
    background-image:url('https://images5.alphacoders.com/430/thumbbig-430918.jpg');
    background-size: cover;
    height:100px;
    border-radius:5px;
}
  .content {
    background-color: #152069;
    color:white;
    border: 1px solid black;
    border-radius:5px;
    height: 1.8rem;
    padding:0.5rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    text-align: left;
    max-width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}
i{
   width: 1.5rem;
}
footer{
    color: white;
    text-align: center;
    
    height: 100vh;
    padding-top: 5rem;
    font-size: 0.8rem;
}